@import './foundation';

nav {
    background-color: #45abe1;
    color: #fff;
    text-align: right;
    height: 40px;
    width: 100%;
    display: block
}

body {
    background-color: #eee
}

.fn-logo,
.fn-logo img,
.fn-logo source {
    display: inline-block;
    border-radius: 50%;
    width: 133px
}

header {

    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;

    canvas {
        opacity: 0.3;
    }

}

header a {
    color: #6b6b6b
}

header a:hover {
    color: #1779ba
}

h1,
header h2 {
    display: block;
    width: 100%;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    line-height: 1.3rem;
    margin-top: 1.4rem;
}

h1 {
    font-size: 2.2rem;
    margin-top: 20px
}

h3 {
    font-size: 1.7rem
}

h4 {
    font-size: 1.3rem
}

header h2 {
    font-size: .9rem;
    color: #6b6b6b;
    text-transform: uppercase
}

.fn-book {
    background-color: #fff;
    padding: 50px;
    border-bottom: 1px solid #ccc
}

.fn-book img {
    display: inline;
    padding: 0 15px 15px 0
}

.fn-index {
    margin: 40px;
    article {
        display: inline-block;
        position: relative;
        background-color: #fff;
        padding: 40px 50px;
        padding-top: 80px;
        width: 90%;
        max-width: 700px;
        margin: 0 auto;
        a[rel~="author"] {
            display: inline-block;
            color: #444;
            text-align: right;
            width: 100%;
        }
        header {
            margin: 0;
            padding: 0;
            border: 0;
            h1 {
                text-align: center;
                margin: 0;
                position: absolute;
                line-height: 61px;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #ddd;
                font-size: 1.5rem;
            }
        }
    }
}

.fn-services {
    background-color: #45abe1;
    padding: 50px 0
}

.fn-services h3 {
    display: block;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    width: 100%
}

.fn-price {
    font-weight: 700
}

.fn-services {
    padding: 50px 50px 0 50px
}

.pb30 {
    padding-bottom: 30px
}

.m50 {
    margin-bottom: 50px
}

.fn-services h3 {
    color: #1f5069
}

.fn-nav ul {
    display: inline-block;
    font-size: 0rem;
    width: auto
}

.fn-nav li {
    display: inline-block;
    list-style: none
}

.fn-nav li a {
    font-size: 1rem;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    color: #0b3b5a;
    margin: 0
}

.fn-nav li a.selected,
.fn-nav li a:hover {
    background-color: #0b3b5a;
    color: #fff
}

.fn-footer {
    padding: 50px;
    background-color: #226b92;
    color: #fff
}

section .card {
    height: 100%
}

@font-face {
    font-family: untitled-font-1;
    src: url(/fonts/untitled-font-1.eot);
    src: url(/fonts/untitled-font-1.eot?#iefix) format("embedded-opentype"), url(/fonts/untitled-font-1.woff) format("woff"), url(/fonts/untitled-font-1.ttf) format("truetype"), url(/fonts/untitled-font-1.svg#untitled-font-1) format("svg");
    font-display: block;
    font-weight: 400;
    font-style: normal
}

[data-icon]:before {
    font-family: untitled-font-1 !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" icon-"]:before,
[class^=icon-]:before {
    font-family: untitled-font-1 !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-twitter:before {
    content: "\61"
}

.icon-linkedin:before {
    content: "\62"
}

.icon-github:before {
    content: "\63"
}

.icon-facebook-square:before {
    content: "\64"
}

.icon-envelope:before {
    content: "\65"
}

.fn-icons div {
    font-size: 1.5rem;
    display: inline-block;
    padding: 4px 8px
}

.fn-fam {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.fn-book .icon,
.fn-book span {
    width: auto;
    display: inline-block
}

.fn-book h3 {
    margin-top: 20px
}

.fn-book .icon {
    vertical-align: middle;
    margin-right: 10px
}

.fn-contact .fn-book section {
    padding-bottom: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden
}

.fn-book .icon::before {
    font-size: 1.5rem !important;
    color: #777;
}

.fn-contat-line  {
    margin: 20px 0;
}

.fn-desc {
    display: inline-block;
    max-width: 600px;
    padding: 20px 50px
}

.fn-content {
    margin-bottom: 50px;
}

.fn-content span {
    font-size: 1.3rem;
    font-weight: bold;
}

.fn-hero-small {
    min-height: 345px;
    padding: 10px 0;
    h1 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #777;
        margin: 0;
    }
    h2 {
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
}

.fn-404 {
    text-align: center;
    margin: 100px 0;
}

.small-bold, .fn-goals .small-bold { 
    font-weight: bold;
    font-size: 1rem;
}

.fn-goals li {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}