<section class="fn-partner-sites">

    <div class="site-cards">
        
        <div class="grid-x grid-margin-x">

            <div class="cell small-12">
                <h3>Visit also...</h3>
            </div>

            <article class="site-card cell small-12 large-4">
                <h1><a href="https://cci.charlotte.edu/directory/fabio-nolasco" target="_blank" rel="noopener noreferrer">Professor Profile</a></h1>
                <p>
                    <a href="https://cci.charlotte.edu/directory/fabio-nolasco" target="_blank" rel="noopener noreferrer">University Profile</a><br><a href="https://www.coursicle.com/uncc/professors/Fabio+Nolasco/" target="_blank" rel="noopener noreferrer">Coursicle page</a>.
                </p>
            </article>

            <article class="site-card cell small-12 large-4">
                <h1><a href="https://frontend-architecture.com" target="_blank" rel="noopener noreferrer">Frontend-architecture.com</a></h1>
                <p>
                    A blog to discuss ideas and practices of Front-end Architecture. Have something to say? Become one of our authors!
                </p>
            </article>

            <article class="site-card cell small-12 large-4">
                <h1>Frontend Youtube Channel<i class="fas fa-external-link-alt"></i></h1>
                <p>
                    Youtube channel with many lists related with front-end development. Playlists: 
                    <a href="https://www.youtube.com/playlist?list=PLA3P0bJMkjfvuM11ESmGh_S2zg1HFgmDu" target="_blank" rel="noopener noreferrer">Interesting</a> - 
                    <a href="https://www.youtube.com/playlist?list=PLA3P0bJMkjfve1ALOwau2pN5jppKmn50S" target="_blank" rel="noopener noreferrer">Important</a> - 
                    <a href="https://www.youtube.com/playlist?list=PLA3P0bJMkjfvIcP6_eR9fiSSRJIhoctlE" target="_blank" rel="noopener noreferrer">Essential</a> - 
                    <a href="https://www.youtube.com/playlist?list=PLA3P0bJMkjftkGwvCsr-Vo512wGpSR1js" target="_blank" rel="noopener noreferrer">AI Related</a> 
                </p>
            </article>
        </div>

    </div>

</section>