<script>
    "serviceWorker" in navigator && navigator.serviceWorker.register("/sw.js");
</script>

<script defer src="/scripts/three.r95.min.js"></script>
<script defer src="/scripts/vanta.waves.min.js"></script>
<script>
    window.addEventListener('load', function () {
        VANTA.WAVES({
            el: "header",
            mouseControls: true,
            touchControls: true,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x828282
        });
    });
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TFPZE0XBR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6TFPZE0XBR');
</script>