<script>
    "serviceWorker" in navigator && navigator.serviceWorker.register("/sw.js");
</script>

<!-- Initiate Waves -->
<!-- <script>
    function loadScript(url, callback) {
        var script1 = document.createElement('script');
        script1.type = 'text/javascript';
        script1.src = url;
        script1.onload = script1.onreadystatechange = function() {
            if (!this.readyState || this.readyState == 'complete') {
                callback();
            }
        };
        document.body.appendChild(script1);
    }
    function callScript1() {
        loadScript('/scripts/three.r95.min.js', callScript2);
    }
    function callScript2() {
        loadScript('/scripts/vanta.waves.min.js', finish);
    }
    function finish() {
        VANTA.WAVES({
            el: "header",
            mouseControls: true,
            touchControls: true,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x828282
        });
    }

    window.addEventListener('load', function () {
        callScript1();
    });
</script> -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TFPZE0XBR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6TFPZE0XBR');
</script>