<script>
    "serviceWorker" in navigator && navigator.serviceWorker.register("/sw.js");
</script>

<script>
    var moved = false;
    function start() {
        function addScript(url, callback) {
            var sc = document.createElement('script');
            sc.defer = true;
            sc.src = url;
            sc.type = 'text/javascript';
            sc.onload = sc.onreadystatechange = () => {
                if (!this.readyState || this.readyState == 'complete') {
                    callback();
                }
            };
            document.body.appendChild(sc);
        }
        function addScript1() { addScript('/scripts/three.r95.min.js', addScript2); }
        function addScript2() { addScript('/scripts/vanta.waves.min.js', finish); }
        function finish() {
            VANTA.WAVES({
                el: "header",
                mouseControls: true,
                touchControls: true,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00,
                color: 0x828282
            });
            document.getElementById('youtube').src = 'https://www.youtube.com/embed/yzGxI61p6DY';
        }
        if (!moved) {
            moved = true;
            window.removeEventListener('mousemove', start, { passive: true });
            window.removeEventListener('touchstart', start, { passive: true });
            window.removeEventListener('scroll', start, { passive: true });
            addScript1();
        }
    }
    window.addEventListener('mousemove', start, { passive: true });
    window.addEventListener('touchstart', start, { passive: true });
    window.addEventListener('scroll', start, { passive: true });
    if (localStorage.getItem('FN')) {
        start();
    }
    localStorage.setItem('FN', 1);
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TFPZE0XBR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6TFPZE0XBR');
</script>